<a href="https://colab.research.google.com/github/srathina/Python/blob/master/Tensorflow_firststeps.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

**Import the libraries**

In [2]:
import math

from IPython import display
from matplotlib import cm
from matplotlib import gridspec
from matplotlib import pyplot as plt
import numpy as np
import pandas as pd
from sklearn import metrics
import tensorflow as tf
from tensorflow.python.data import Dataset


tf.logging.set_verbosity(tf.logging.ERROR)
pd.options.display.max_rows = 10
pd.options.display.float_format = '{:.1f}'.format

**Load the californita training data set ( 17000 sets of 9 categories)**

In [0]:
california_housing_dataframe = pd.read_csv("https://download.mlcc.google.com/mledu-datasets/california_housing_train.csv", sep=",")

**Randomise the data index**

In [4]:
california_housing_dataframe.reindex(np.random.permutation(california_housing_dataframe.index))
california_housing_dataframe['median_house_value']/=1000.
california_housing_dataframe.describe()

       longitude  latitude  ...  median_income  median_house_value
count    17000.0   17000.0  ...        17000.0             17000.0
mean      -119.6      35.6  ...            3.9               207.3
std          2.0       2.1  ...            1.9               116.0
min       -124.3      32.5  ...            0.5                15.0
25%       -121.8      33.9  ...            2.6               119.4
50%       -118.5      34.2  ...            3.5               180.4
75%       -118.0      37.7  ...            4.8               265.0
max       -114.3      42.0  ...           15.0               500.0

[8 rows x 9 columns]

In [7]:
california_housing_dataframe.head()

   longitude  latitude  ...  median_income  median_house_value
0     -114.3      34.2  ...            1.5                66.9
1     -114.5      34.4  ...            1.8                80.1
2     -114.6      33.7  ...            1.7                85.7
3     -114.6      33.6  ...            3.2                73.4
4     -114.6      33.6  ...            1.9                65.5

[5 rows x 9 columns]