<a href="https://colab.research.google.com/github/srathina/Python/blob/master/machine_learning/Untitled2.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [43]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
from sklearn.model_selection import train_test_split


fruits = pd.read_table("https://raw.githubusercontent.com/srathina/Python/master/machine_learning/fruit_data_with_colors.txt")
fruits.head()

   fruit_label fruit_name fruit_subtype  mass  width  height  color_score
0            1      apple  granny_smith   192    8.4     7.3         0.55
1            1      apple  granny_smith   180    8.0     6.8         0.59
2            1      apple  granny_smith   176    7.4     7.2         0.60
3            2   mandarin      mandarin    86    6.2     4.7         0.80
4            2   mandarin      mandarin    84    6.0     4.6         0.79

In [63]:
feature_names = ['mass', 'width', 'height']
label_names = ['fruit_label']

X = fruits[feature_names]
y = fruits[label_names]

print(X.shape)
print(y.shape)

x_train, y_train, x_test, y_test = train_test_split(X,y, train_size = 0.6)

print(x_train, y_train)
print(x_train.shape,y_train.shape)

print(x_test,y_test)
print(x_test.shape,y_test.shape)

(59, 3)
(59, 1)
    mass  width  height
56   116    5.9     8.1
0    192    8.4     7.3
36   160    7.1     7.6
53   120    6.0     8.4
20   160    7.5     7.5
10   166    6.9     7.3
31   210    7.8     8.0
24   342    9.0     9.4
30   158    7.1     7.5
46   216    7.3    10.2
25   356    9.2     9.2
23   170    7.6     7.9
39   144    6.8     7.4
34   142    7.6     7.8
3     86    6.2     4.7
51   116    6.0     7.5
52   118    5.9     8.0
32   164    7.2     7.0
45   186    7.2     9.2
50   130    6.0     8.2
13   164    7.3     7.7
8    178    7.1     7.8
21   156    7.4     7.4
14   152    7.6     7.3
47   196    7.3     9.7
27   204    7.5     9.2
29   160    7.0     7.4
48   174    7.3    10.1
1    180    8.0     6.8
40   154    7.1     7.5
58   118    6.1     8.1
44   200    7.3    10.5
28   140    6.7     7.1
17   168    7.5     7.6
15   156    7.7     7.1
41   180    7.6     8.2
22   140    7.3     7.1
7     76    5.8     4.0
26   362    9.6     9.2
57   152    6.5     8.5
43   194    7.2    10.3
19   162    7.4     7.2
35   150    7.1     7.9
11   172    7.1     7.6
12   154    7.0     7.1
38   158    7.2     7.8
37   154    7.3     7.3     mass  width  height
49   132    5.8     8.7
5     80    5.8     4.3
18   162    7.5     7.1
55   116    6.3     7.7
6     80    5.9     4.3
2    176    7.4     7.2
54   116    6.1     8.5
42   154    7.2     7.2
33   190    7.5     8.1
16   156    7.6     7.5
4     84    6.0     4.6
9    172    7.4     7.0
(47, 3) (12, 3)
    fruit_label
56            4
0             1
36            3
53            4
20            1
10            1
31            3
24            3
30            3
46            4
25            3
23            1
39            3
34            3
3             2
51            4
52            4
32            3
45            4
50            4
13            1
8             1
21            1
14            1
47            4
27            3
29            3
48            4
1             1
40            3
58            4
44            4
28            3
17            1
15            1
41            3
22            1
7             2
26            3
57            4
43            4
19            1
35            3
11            1
12            1
38            3
37            3     fruit_label
49            4
5             2
18            1
55            4
6             2
2             1
54            4
42            3
33            3
16            1
4             2
9             1
(47, 1) (12, 1)